@import "~bootstrap/scss/bootstrap";

// color
$main-color: #4A90E2;
$main-color-darl: #00408B;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 10px/16px
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  box-sizing: border-box;

  min-height: 100vh;
  background-color: #777;
  position: relative;
}

#main {
  width: 50rem;
  height: 20rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #eee;
}