// color
$primary-color: #4A90E2;
$primary-color-dark: #00408B;

$color-white: #fff;
$color-black: #000;
$color-red: #D0021B;

$color-grey-1: #E1E1E1;
$color-grey-2: #F2F2F2;
$color-grey-3: #C8C8C8 ;
$color-grey-4: #757575;
