.text-primary {
  color: $primary-color;
}

.text-primary-dark {
  color: $primary-color-dark;
}

.bg-primary {
  background-color: $primary-color;
}

.bg-primary-dark {
  background-color: $primary-color-dark;
}

